div, button {
  font-family: Tahoma, Geneva, sans-serif;
  text-align: center;
}

button{
  cursor: pointer;
}

/*for cases not detailed below, content will be centered with minimum width allowed*/
body{
  width: 1000px;
  margin: 0px auto;
}
div.grid{
  margin: 0px 10px;
  width: 980px;
}

/*Screen size allows for a max of 4 boxes horizontally to show in grid*/
@media only screen and (min-width: 1300px){
  body{
    width: 1320px;
    margin: 0px auto;
  }
  div.grid {
    margin: 0px 10px;
    width: 1300px;
    max-width: 1300px;
  }
}

/*Screen size allows for a max of 5 boxes horizontally to show in grid*/
@media only screen and (min-width: 1620px){
  body{
    width: 1640px;
    margin: 0px auto;
  }
  div.grid {
    margin: 0px 10px;
    width: 1620px;
    max-width: 1620px;
  }
}

div.outerBox {
  border-radius: 8px;
  margin: 10px;
  height: 300px;
  width: 300px;
  max-height: 300px;
  max-width: 300px;
  position: relative;
  float: left;
  background-color: lightgrey;
}

div.innerBox {
  position: relative;
  top: 27px;
  left: 27px;
  height: 246px;
  width: 246px;
  background-color: lightgrey;
  display: table-cell;
  vertical-align: middle;
}

button.addBoxBtn {
  background-color: mediumseagreen;
  border: none;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  font-size: 24px;
  margin: 20px;
}

button.destroy {
  font-size: 20px;
  margin: 0px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: firebrick;
  border: 0px;
  color: white;
}
